@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background-color: #212529;
  width: 100%;
}

.footer-item {
  list-style: none;
  margin-right: 1.5rem;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-text {
  color: rgba(255, 255, 255, 0.774);
  text-align: center;
}

.footer-item {
  color: rgba(255, 255, 255, 0.774);
}

.footer-item:hover {
  color: white;
}

.hungry-text {
  color: #fca521;
  font-size: 1.05em;
  transition: all 300ms;
}

.hungry-text:hover {
  text-shadow: 0 0 1px #fca521, 0 0 2px #fca521, 0 0 3px #fca521,
    0 0 8px #fca521, 0 0 15px #fca521;
}

.nav-link,
.navbar-brand {
  cursor: pointer;
  margin-right: 1em !important;
  transition: ease-out;
}

.nav-link:hover {
  border-bottom: 2px solid rgba(250, 249, 247, 0.918);
  padding-top: 1px;
  padding-bottom: 0.5px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.btn-order {
  border: 3px solid #fca521;
  background-color: #fca521;
  color: white;
}

.btn-order:hover {
  border: 2px solid #fca521;
  background-color: transparent;
  font-weight: 800;
  color: #fca521;
}

.btn-order i {
  fill: #fff;
}

.btn-order:hover i {
  fill: #fca521;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.931);
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #504f4f;
}

.price-btn {
  max-height: 38px;
}

.food-card {
  transition: top ease 0.5s;
  min-height: 305px;
  height: 350px;
}

.food-card:hover {
  top: -10px;
}

.img-fluid {
  max-height: 200;
}

.img-container {
  background-color: #fca521;
  line-height: 200px;
  height: 200px;
}

.showcase {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 1000;
}

.showcase video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a59273;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 100;
}

.text h2 {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 600px;
}

.menu-button {
  display: inline-block;
  font-size: 1em;
  background: #fca521;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  max-height: 50px;
}

.menu-button:hover {
  color: #111;
  letter-spacing: 6px;
}

#Menu .menu-button {
  margin-top: 3rem;
}

.popular-text {
  display: inline-block;
}

.services-icon {
  width: 130px;
  filter: invert(71%) sepia(83%) saturate(1729%) hue-rotate(340deg) brightness(102%) contrast(105%);
}

.services-text {
  max-width: 400px;
}

.btn:focus,
.btn:active,
.form-control {
  outline: none !important;
  box-shadow: none;
}

.modal-footer > .btn-sm {
  margin-right: 1rem;
  border-radius: 0.3rem;
  padding: 0.3em 1.2em;
}

.modal-header {
  background-color: #f39f86;
  background-image: linear-gradient(280deg, #fca521 0%, #f9d976 74%);
  color: black;
}

.modal-content {
  background-color: #fca521;
}

.modal-body,
.modal-footer {
  background-color: white;
}

.modal {
  z-index: 100000000;
}

.form-control:focus {
  border-color: #fca521;
  box-shadow: 0 0 0 0.2rem #e9bf81;
} 

.about-img {
  width: 500px;
}

.card-header, .card-footer {
  height: 70px;
  background-color: #f39f86;
  background-image: linear-gradient(280deg, #fca521 0%, #f9d976 74%);
}

.walking-burger {
  margin-left: 1rem;
  margin-top: -2rem;
}

.walking-taco {
  margin-left: 1rem;
  margin-top: -2rem;
}

.card-footer a {
  text-decoration: none;
  color:rgb(247, 101, 3);
  font-weight: 500;
}

.card-footer a:hover {
  color: tomato;
}

.order {
  margin-left: 8rem;
  margin-top: 3rem;
}

.quantityy {
  margin-left: 8rem;
  margin-top: 5.5rem;
}

.quantity {
  width: 3.5rem;
}

.customer-details .row>* {
  padding-right: 0;
  padding-left: 0;
}

.order-details .row>* {
  padding-right: 0;
  padding-left: 0;
}






